<div class="row">
  <div class="col col-md-4">
    <h2>New Shopkeeper</h2>
    <form (ngSubmit)="onSubmit()" #shopkeeperForm="ngForm">
      <!-- Shopkeeper Name -->
      <div class="form-group">
        <label for="name">Name</label>
        <input required type="text" [(ngModel)]="model.name" name="name" #name="ngModel" class="form-control" id="name" placeholder="Enter Name">        
          <div [hidden]="name.valid || name.pristine"
          class="alert alert-danger">
            Name is required
          </div>
      </div>
        <!-- address-->
      <div class="form-group">
          <label for="address">Address</label>
          <input  type="text" [(ngModel)]="model.address" name="address" #address="ngModel" class="form-control" id="address" placeholder="Enter address">        
      </div>
      <!-- Distributor Area-->
      <div class="form-group">
          <label for="name">Distributor Area</label>
          <select [(ngModel)]="model.distributorAreaId" name="distributorAreaId" #distributorAreaId="ngModel" class="form-control" id="distributorAreaId">
              <option *ngFor="let distributorArea of distributorAreas" [ngValue]="distributorArea.id">{{distributorArea.name}}</option>
          </select>
      </div>     
      <button type="submit" class="btn btn-primary"
      [disabled]="!shopkeeperForm.form.valid">save</button>
    </form>
  </div>
</div>

