<div class="row align-items-center">  
  <div class="col col-md-4">
    <h2>shopkeepers</h2>
  </div>
  <div class="col col-md-4  ">
    <h2 class="pull-right">
      <a class="btn btn-info" routerLink="/shopkeeper/new" role="button">New shopkeeper</a>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <table class="table table-sm table-bordered ">
      <thead>
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col"> Area Name</th>
          <th scope="col"> Distributor Name</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let shopkeeper of shopkeepers">
          <td scope="col"  >{{shopkeeper.id}}</td>
          <td scope="col">{{shopkeeper.name}}</td>
          <td scope="col">{{shopkeeper.address}}</td>
          <td scope="col">{{shopkeeper.distributorAreaName}}</td>
          <td scope="col">{{shopkeeper.distributorName}}</td>
          <td scope="col">
            <a class="btn btn-sm btn-primary" routerLink="/shopkeeper/edit/{{shopkeeper.id}}" role="button">edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
